# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build

#Ignore IDEA setting files
/.idea
/OrchEngine.iml

#Ignore engine created files
/logs
/settings

#Ignore OS-specific files
/.directory